# Ignore node_modules folder
node_modules/

# Ignore vendor folder
vendor/

# Ignore log files
*.log

# Ignore build outputs
dist
dist/
build/

# Ignore environment files
.env
.env.development
.env.production
config.php
