node_modules
config.php
vendor
vendor/
dist
dist/
D:\xampp_projects\griffinn360adventures\dist
# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore build outputs
/dist
/build
dist

# Ignore environment files
.env
