# Enable Rewrite Engine

RewriteEngine On

# Allow requests from specific domains

RewriteCond %{HTTP_REFERER} ^https://griffinn360adventures.com [NC,OR]
RewriteCond %{HTTP_REFERER} ^https://www.griffinn360adventures.com [NC]
RewriteRule ^ - [L]

# Deny access for all other requests

RewriteRule ^ - [F,L]
