/* aminities styles */
.logosContainer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 100vw;
  padding: 0 2rem;
}
.aminityContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logoWrapper {
  height: 100%;
  flex: 8;
}
.aminityTitle {
  flex: 2;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}
.aminityLogo {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.title {
  font-size: x-large;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  /* aminity styles */
  .logosContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 576px) {
  /* aminity styles */
  .logosContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
